/* div {
  background-color: #E4F9F5;
} */

a {
  color: #11999E;
}

a:hover {
  color: #EAF6F6;
}

body {
  color: #40514E;
  margin: 0px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-size: 5.625rem;
  color: #66BFBF;
}

h2 {
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  color: #11999E;
}

hr {
  width: 5%;
  border-style: dotted none none;
  border-width: 7px;
  border-color: #EAF6F6;
  margin: 100px auto;
}

.academic {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  left: 200px;
}

.bottom-container {
  background-color: #66BFBF;
  height: 100px;
  padding-top: 30px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  text-shadow: 1px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.contact-me {
  height: 400px;
}

.footer-link {
  font-weight: bold;
  text-decoration: none;
  margin: auto 20px;
}

.middle-container {
  line-height: 2;
}

.topContainer {
  background-color: #E4F9F5;
  padding-top: 100px;
}

.top-cloud {
  position: absolute;
  right: 250px;
  bottom: 450px;
}

.self-image {
  border-radius: 25%;
  width: 15%;
  margin-top: 50px;
}

.intro {
  width: 30%;
  margin: auto;
}

.contact-message {
  width: 30%;
  margin: 40px auto;
}

.skill-img-1 {
  width: 25%;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  background-color: blue;
  display:inline-block;
  vertical-align:middle;
  float: left;
  margin-right: 30px;
}

.skill-img-2 {
  width: 25%;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  background-color: blue;
  display:inline-block;
  vertical-align:middle;
  float: right;
  margin-left: 30px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

#copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
